[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-pythonpath = "*"
pytest-cov = "*"
twine = "*"

[packages]
protobuf = "*"
gevent = "*"
colorlog = "*"

[requires]
python_version = "3.7"
